@model CapitalNews.Models.Noticias

@{
    ViewData["Title"] = "Create";
}
<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<div class="container">
    <h1>Criar</h1>

    <h4>Noticias</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label value="Corpo do texto" class="control-label"></label>
                    <textarea asp-for="Body" class="control-label" rows="4" cols="50"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
            
                <div class="form-group">
                    <label asp-for="Categoria" value="Categoria" class="control-label"></label>
                    <select asp-for="CategoriaFK" class ="form-control" asp-items="ViewBag.CategoriaFK"></select>
                </div>
                <!--<div class="form-group">
                    <label asp-for="JornalistaFK" class="control-label"></label>
                    <select asp-for="JornalistaFK" class ="form-control" asp-items="ViewBag.JornalistaFK"></select>
                </div>-->
                <div class="form-group">
                    <label value="Fotografia" class="control-label"></label>
                    <input type="file" name="fotos" class="form-control" accept=".jpg,.png" />
                    @*<select asp-for="FotografiaFK" class ="form-control" asp-items="ViewBag.FotografiaFK"></select>*@
                </div>
                <div class="form-group">
                    <input type="submit" value="Adicionar Noticia" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar à Lista</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
