@model CapitalNews.Models.Noticias

@{
    ViewData["Title"] = "Edit";
}
<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<div class="container">
<h1>Edit</h1>

<h4>Noticias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label value="Corpo de texto" class="control-label"></label>
                <!--<input asp-for="Body" class="form-control" />-->
                <textarea asp-for="Body" class="form-control" rows="5" cols="50"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="CategoriaFK" class="form-control" asp-items="ViewBag.CategoriaFK"></select>
                <span asp-validation-for="CategoriaFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--<label asp-for="Jornalista" class="control-label"></label>-->
                <input asp-for="JornalistaFK" class="form-control" value="1" type="hidden"/>
                <!--<span asp-validation-for="JornalistaFK" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input type="file" name="fotos" class="form-control" accept=".jpg,.png" />
                <!--<select asp-for="FotografiaFK" class="form-control" asp-items="ViewBag.FotografiaFK"></select>-->
                <span asp-validation-for="FotografiaFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
