@using Microsoft.AspNetCore.Identity
@inject SignInManager<CapitalNews.Data.ApplicationUser> SignInManager
@inject UserManager<CapitalNews.Data.ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - CapitalNews</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizPage - v3.0.0
    * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-11 d-flex align-items-center">
                    <h1 class="logo mr-auto" asp-area="" asp-controller="Home" asp-action="Index">CapitalNews</h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Noticias" asp-action="Index">Noticias</a></li>
                            <li><a href="http://portal2.ipt.pt/">Contact Us</a></li>

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li>

                                    @{
                                        string NomeUser = (await UserManager.GetUserAsync(User)).UserName;
                                        
                                    }
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                        @NomeUser
                                    </a>

                                </li>
                                @if (User.IsInRole("Administrativo"))
                                {
                                    <li>
                                   <a asp-area="" asp-controller="Leitores" asp-action="Index">
                                       Utilizadores
                                    </a>
                                    </li>

                                    <li>
                                    <a asp-area="" asp-controller="Jornalistas" asp-action="Index">
                                       Jornalistas
                                    </a>
                                    </li>
                                }

                               

                                @if (User.IsInRole("Jornalista"))
                                {
                                    <li>
                                    <a asp-area="" asp-controller="Categorias" asp-action="Index">
                                       Categorias
                                    </a>
                                    </li>

                                    <li>
                                    <a asp-area="" asp-controller="Fotografias" asp-action="Index">
                                       Fotografias
                                    </a>
                                    </li>
                                }

                                
                                <li>
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Register">Registar</a>
                                </li>
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }

                        </ul>
                    </nav><!-- .nav-menu -->
                </div>
            </div>

        </div>
    </header><!-- End Header -->

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
