@model CapitalNews.Models.Fotografias

@{
    ViewData["Title"] = "Create";
}

<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

<h1>Adicionar Foto</h1>

<h4>Fotografias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descritores" class="control-label"></label>
                <input asp-for="Descritores" class="form-control" />
                <span asp-validation-for="Descritores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFoto" class="control-label"></label>
                <input type="file" name="fotos" class="form-control" accept=".jpg,.png" />
                <span asp-validation-for="NomeFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
