@model CapitalNews.Models.Comentarios

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comentarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TextoComentario" class="control-label"></label>
                <input asp-for="TextoComentario" class="form-control" />
                <span asp-validation-for="TextoComentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataComentario" class="control-label"></label>
                <input asp-for="DataComentario" class="form-control" />
                <span asp-validation-for="DataComentario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visibilidade" /> @Html.DisplayNameFor(model => model.Visibilidade)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NoticiaFK" class="control-label"></label>
                <select asp-for="NoticiaFK" class="form-control" asp-items="ViewBag.NoticiaFK"></select>
                <span asp-validation-for="NoticiaFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeitorFK" class="control-label"></label>
                <select asp-for="LeitorFK" class="form-control" asp-items="ViewBag.LeitorFK"></select>
                <span asp-validation-for="LeitorFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
